<main class="container center">
  <%= form_with url: '/sessions', method: 'post', class: 'form-container' do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit 'Login' %>
    </div>

    <div>
      <p>Not a user? <%= link_to "Sign up", new_user_path %></p>
    </div>
  <% end %>
</main>
