<main class="container">
  <h1>All Orders</h1>
  <% @bills.each do |bill| %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </thead>
        <tbody>
      <% bill.orders.each do |order| %>
          <tr>
            <td><%= order.food.name %></td>
            <td><%= order.quantity %></td>
            <td><%= order.total %></td>
          </tr>
      <% end %>
        </tbody>
      <tfoot>
        <tr class='bill-total'>
          <td>------</td>
          <td>------</td>
          <td><%= bill.total %></td>
          <% if bill.paid %>
            <td>paid</td>
          <% else %>
            <td>
              pending
              <%= button_to 'Mark as paid', bill_path(bill), method: 'patch' %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  <% end %>
</main>
