<main class="container">
  <ul>
    <% @tables.each do |table| %>
      <li>
        <p>Name: <%= table.name %></p>
        <p>Description: <%= table.description %></p>
        <%= form_with url: '/reservations', method: 'post' do |f| %>
        <%= f.date_field 'reservation_for' %>
        <%= f.hidden_field 'table_id', value: table.id %>
        <%= f.submit 'reserve' %>
      <% end %>
      </li>
    <% end %>
  </ul>
</main>
