<main class="container">
  <table class='menu'>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>-</th>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></p>
        <td><%= food.description %></td>
        <td>Rs.<%= food.price %></td>
        <%= render partial: 'shared/counter', locals: { food: food } %>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr >
        <td colspan="4">
          <%= button_to 'Review Orders', new_bill_path, method: 'get', class: 'counter-button' %>
        </td>
      </tr>
    </tfoot>
  </table>
  
</main>
