<!DOCTYPE html>
<html>
  <head>
    <title>Bfc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert] %>
      <p class='flash alert'><%= flash[:alert] %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class='flash notice'><%= flash[:notice] %></p>
    <% end %>

    <% if logged_in? %>
      <% if admin? %>
        <nav>
          <ul>
            <li><%= link_to 'Logout', logout_path %></li>
            <li><%= link_to 'Orders', admin_bills_path %></li>
          </ul>
        </nav>
      <% else %>
        <nav>
          <ul>
            <li><%= link_to 'Logout', logout_path %></li>
            <li><%= link_to 'My reservations', reservations_path %></li>
            <li><%= link_to 'Menu', foods_path %></li>
            <li><%= link_to 'My Orders', bills_path %></li>
          </ul>
        </nav>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
